.header-info {
    /* rgb(252, 243, 234); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header-info a {
    margin: 0 15px;
    text-transform: uppercase;
    color: #000;
}

.header-info a:hover {
    color: #bac34e
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 131px;
}

.logo {
    height: 71px;
}

.search {
    display: flex;
    height: 45px;
    background-color: #f4f4f4;
    border-radius: 25px;
    align-items: center;
    padding: 0 15px;
}

.search input {
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 15px;
}

.search img {
    width: 16px;
    height: 16px;
}

.search button {
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 700;
}

.search button:hover {
    color: #bac34e;
    cursor: pointer;
}

.header-icons {
    display: flex;
}

.header-icons span {
    height: 45px;
    width: 45px;
    background-color: #f6f3e3;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    position: relative;
    transition: .4s;
}

.header-icons span:first-child {
    background-color: #e8f8f7;
}

.header-icons span:nth-child(2) {
    background-color: #f6f3e3;
}

.header-icons span:last-child {
    background-color: #f3e4dc;
}

.header-icons span img {
    width: 16px;
    height: 16px;
    transition: 0.4s
}

.header-icons i {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0bf96;
    color: #fff;
    border-radius: 100%;
    font-size: 10px;
    position: absolute;
    top: -2px;
    right: -4px;
}

.header-icons span:hover {
    transition: 400ms;
    background-color: #bac34e;
    cursor: pointer;
}

.header-icons span:hover img{
    transition: 400ms;
    filter: invert(1);
}